@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$body-font: 'Poppins', sans-serif;

$lightpink: #fcc0c5;
$purple: #7f73e3;

$transition: all 0.5s ease;